mixin industry(data)
  section.industry
    .container
      video(muted="" data-autoplay="" loop playsinline preload="none").industry__video.lazyloaded
        source(src=data.videoSrc type="video/mp4")
      .industry__content
        h2.industry__title= data.title
        p.industry__text= data.text
        .industry__slider-navigation.js-navigation
          button.slider-navigation-button.js-prev
            img(src="assets/icons/left-white-arrow.svg" alt="icon")
          button.slider-navigation-button.js-next
            img(src="assets/icons/right-white-arrow.svg" alt="icon")
        .industry__slider.js-init-slider
          .swiper-wrapper
            each slide in data.sliders
              .swiper-slide
                .industry__slide
                  span.industry__counter
                  span.industry__slider-name= slide.name
                  img(src=slide.imgSrc alt="slider image").industry__slider-img
